body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  
  background-color: #111820;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenair{
  width: 100%;
  min-height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.contGrid{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 50px;
  row-gap: 5px;
  place-items: center;
  text-decoration: none;
  @media (max-width: 1350px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 910px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 670px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 420px) {
    grid-template-columns: repeat(1, 1fr);
  }

  a{
    text-decoration: none;
  }
}

.gridCountry{
  margin-top: 20px;
  height: 120px;
  width: 150px;
  border-radius: 20px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;

  &:hover{
    background-color: #1fa9e7;
    .infoCountry{
      color: #15232f;

    }
  }
}

.contenairDrapeau{
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  .flagGrid{
    width: 75px;
    height: 50px;
    background-color: black;
    border-radius: 20px;
    background-position: center center;
    background-size: cover;
  }
}

.infoCountry{
  color: white;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 1;
  text-decoration: none;
}

.containerSVG{
  width: 100%;
  background-color: #111820;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .svg-map {
    width: 40%;
    height: auto;
    stroke: #666;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    @media (max-width: 1400px) {
      width: 35%;
    }
    @media (max-width: 910px) {
      width: 40%;
    }
    @media (max-width: 670px) {
      width: 45%;
    }
    @media (max-width: 420px) {
      width: 50%;
    }

  }

  .svg-map__location {
    fill: white;
    cursor: pointer; }
    .svg-map__location:focus {
      fill: #15232f;
      outline: 0; }
      .svg-map__location:hover{
      fill: #1fa9e7; }
      .svg-map__location[aria-checked=true] {
      fill: #f4bc44; }
}

.inputDiv{
  width: 100%;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;

  input{
    width: 250px;
    height: 2vh;
    padding: 20px;
    border-radius: 20px;
    border: none;
    &:focus{
      outline: none;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  width: 80%;
  min-height: 2vh;
  margin: auto;
  gap: 5px;
  margin-top: 10px !important;
  @media (max-width: 769px) {
    gap: 0.1px;
    flex-wrap: wrap;
  }
  
  ul {
    display: flex;
    list-style: none;
  }
  
  li {
    margin-top: 10px;
    margin: 0 0.5rem;
    list-style: none;
    @media (max-width: 769px) {
      margin: 0 0.1rem;
    }
    
    button {
      text-decoration: none;
      width: 30px;
      height: 30px;
      color: white;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #111820;
      cursor: pointer;

      font-weight: bold;

      &:hover {
        background: #1fa9e7;
      }
    }
  }
}

li.active button  {
  background-color: white !important;
  color: black;
  text-decoration: none;
}
li.invisible{
    display: none !important;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #666;
  color: white;

  &-brand {
    display: flex;
    align-items: center;
  }

  &-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    @media (min-width: 769px) {
      display: none;
    }
  }

  &-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;

    li {
      margin: 0 1rem;

      a {
        text-decoration: none;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      background-color: #666;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      text-align: center;
      display: none; // initialement caché
      transition: all 0.3s ease-in-out;

      li {
        margin: 1rem 0;
      }
    }
  }

  &.open {
    .navbar-links {
      display: flex; // afficher la barre de navigation lorsqu'elle est ouverte
    }
  }
}

.flagInfoCountry{
  width: 100%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  gap: 50px;

  .flagCountry{
    height: 30vh;
    width: 500px;
    background-position: center center;
    background-size: cover;
    @media (max-width: 1349px) {
      order: 2;
    }
  }

  .infosCountry {
    height: 25vh;
    width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    span{
      color: #666;
    }
    @media (max-width: 1349px) {
      order: 1;
    }
  }
}

.countryContenu{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  min-height: 275px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .infoCC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    height: 275px;
    width: 275px;
    padding: 10px;
    svg{
      fill: white;
      flex: 1;
    }
    span{
      flex: 1;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.label{
        color: #666;
        font-size: 30px;
      }
    }
  }
}

.coatOfArms{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  span{
    font-size: 24px;
  }
  img{
    width: 300px;
  }
}

.main{
  width: 100%;
  min-height: 90vh;
}

.footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  background-color: #666;
  color: white;
  margin-top: 20px;
}